{% extends 'base.twig' %}

{% block content %}
    <main class="cartPage">
        {% if products %}
            {% set totalPrice = 0 %}
            <div class="container">
                <table class="product-table">
                    <thead>
                        <tr>
                            <th scope="col">Product name</th>
                            <th scope="col"></th>
                            <th scope="col">Net price per unit</th>
                            <th scope="col">Units amount</th>
                            <th scope="col">Tax</th>
                            <th scope="col">Total price</th>
                            <th scope="col" class="small">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            {% set myExtra = productsExtra[product.id] %}
                            <tr class="cartRow" data-id="{{ product.id }}">
                                <td>{{ product.name }}</td>
                                <td class="picture"><img src="/dist/images/{{ product.photo }}" alt="{{ product.name }} photo"></td>
                                <td class="productPrice">{{ product.price|number_format(2, '.', ',')  }}&#36;</td>
                                <td class="productAmount">{{ myExtra.count }}</td>
                                <td>{{ tax*100 }}%</td>
                                <td class="productTotalPrice">{{ myExtra.totalPrice|number_format(2, '.', ',') }}&#36;</td>
                                <td class="small"><a href="#" class="removeFromCart button small" data-id="{{ product.id }}" data-name="{{ product.name }}" data-count="{{ myExtra.count }}">Remove</a></td>
                            </tr>
                            {% set totalPrice = totalPrice + myExtra.totalPrice %}
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Totals</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="cartTotalPrice">{{ totalPrice|number_format(2, '.', ',') }}&#36;</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <form class="" method="post">
                <div class="container">
                    <nav class="form-steps">
                        <ul class="progressbar">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="cf"></div>
                    </nav>
                    <form action="" method="post">
                        <div class="form-cnt">
                            <div class="form-inner step1">
                                <div class="form-slide active">
                                    <h2>Personal Data</h2>
                                    <div class="input-group r r-6">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name">
                                    </div>
                                    <div class="input-group r r-6">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email">
                                    </div>
                                    <div class="input-group r r-6">
                                        <label for="phone">Phone</label>
                                        <input type="text" name="phone" id="phone">
                                    </div>
                                    <div class="input-group r r-6">
                                        <label for="address">Address</label>
                                        <input type="text" name="address" id="address">
                                    </div>
                                    <div class="button-group">
                                        <a href="#" class="right button">NEXT</a>
                                        <div class="cf"></div>
                                    </div>
                                </div>
                                <div class="form-slide">
                                    <h2>Delivery method</h2>
                                    <div class="radio-group">
                                        <input name="delivery" type="radio" id="dpd">
                                        <label for="dpd"><img src="/dist/images/dpd.png" alt="DPD Logo"></label>
                                    </div>
                                    <div class="radio-group">
                                        <input name="delivery" type="radio" id="royal-mail">
                                        <label for="royal-mail"><img src="/dist/images/royal-mail.png" alt="Royal Mail Logo"></label>
                                    </div>
                                    <div class="radio-group">
                                        <input name="delivery" type="radio" id="ups">
                                        <label for="ups"><img src="/dist/images/ups.png" alt="UPS Logo"></label>
                                    </div>
                                    <div class="cf"></div>
                                    <div class="button-group">
                                        <a href="#" class="left button">PREV</a>
                                        <a href="#" class="right button">NEXT</a>
                                        <div class="cf"></div>
                                    </div>
                                </div>
                                <div class="form-slide">
                                    <h2>Payment method</h2>
                                    <div class="radio-group">
                                        <label for="dpd"><img src="/dist/images/dpd.png" alt="DPD Logo"></label>
                                        <input name="delivery" type="radio" id="dpd">
                                    </div>
                                    <div class="radio-group">
                                        <label for="dpd"><img src="/dist/images/dpd.png" alt="DPD Logo"></label>
                                        <input name="delivery" type="radio" id="dpd">
                                    </div>
                                    <div class="radio-group">
                                        <label for="dpd"><img src="/dist/images/dpd.png" alt="DPD Logo"></label>
                                        <input name="delivery" type="radio" id="dpd">
                                    </div>
                                    <div class="cf"></div>
                                    <div class="button-group">
                                        <a href="#" class="left button">PREV</a>
                                        <button class="right" type="submit">SUBMIT</button>
                                        <div class="cf"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </form>
        {% else %}
            <div class="container">
                <div class="padding">
                    <h3>Add some products from the homepage to your cart first</h3>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}